h2{
    color:blueviolet;
    text-align: center;
}
label{
    color:blueviolet;

}
footer{
    background-color: #51117F;
    height:30vh;
    margin-left:3vw;
    margin-right: 6vw;
    color: white;
    font-weight: 600;
    padding: 20px;
}
#foot{
    width:6vw;
    height:9vh;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
footer>i{
    margin-left: 6vw;
    font-size: 20px;
}

