
ul>li{
    display: inline;
    }
    ul{
        display: flex;
        column-gap:5vh;
        width:48vw;
        justify-content: center;
        color:orangered
    }
    nav{
        background-color: #51117F;
    }
    header{
        height:50vh;
    }
    #tec{
        display:flex;
        width:96vw;
       justify-content: center;
    }
#techno{
    width:90vw;
    height:34vh;
}

a{
    text-decoration: none;
    color:white;
    font-weight: 600;
  
}

footer{
    background-color: #51117F;
    height:30vh;
    /* margin-left:3vw;
    margin-right: 6vw; */
    width:100%;
    color: white;
    font-weight: 600;
    padding: 20px;
}
.container-fluid{
    display:flex;
    width:90%;
    column-gap: 2vh;
   
}
.row{
    display: flex;
  
}
.card{
    width: 15rem; height: 24rem
}
   .col{
    width:40vw;
    display: flex;
   justify-content: center;
   }
 
#logo{
    width:5vw;
    height:6vh;
    margin-left:5vw;
    margin-top: -7vh;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
#foot{
    width:6vw;
    height:9vh;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}
#search{
    width:70vw;
    color: #51117F;
    margin-left: 4vw;

}
i{
    background-color: #51117F;
    color: white;
    font-size: 25px;
}
#contactfoot{
    display:flex;
    width:25vw;
    justify-content: center;
}
footer>i{
    /* margin-left: 6vw; */
    font-size: 20px;
}
.card{
    background-color: #F2F2F2 ;
    }
button{
    background-color: #51117F;
    color: white;
 
}

.car{
    width:13rem;
    height:25vh
}

.card-title{
    color: #51117F;
}
.card-img-top{
    height: 25vh;
}
@media only screen and (max-width: 600px) {
   
    nav{
        width:90vw;
        height:5vh;
        display:flex;
        justify-content: center;
    }
    .col{height:80vh;
    width:50%}
    .card{
        height: 28rem;
    }
    
}